body {
    color: #eff2f7;
    background: #212121;
    font-size: 20px;
    font-family: Italiana;
}
#d2 {
    width: 80%;
    margin: 0 auto;
}
.d3, .d4, .d5, .d6 {
    width: 96%;
    line-height: 2.2;
    margin: 25px auto 0;
    /* border: 2px solid green; */
}
.d4, .d5, .d6 {
    display: none;
}
.header {
    margin: 18px 0 10px;
}
#inp {
    color: white;
    background: black;
    width: 150px;
    height: 35px;
    margin: 20px 50px 0;
    border-radius: 14px;
    text-align: center;
}
hr {
    width: 50%;
}
input {
    margin: 20px 10px 0;
}
label {
    margin-left: 50px;
}
button {
    width: 70px;
    height: 35px;
    letter-spacing: 1px;
    border-radius: 5px;
}
p {
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}
#fl {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
}
a {
    color: white;
}
a:hover {
    color: Tomato;
    transition: .4s;
    letter-spacing: 1px;
}
footer {
    line-height: 1.7;
    margin: 35px auto 10px;
    text-align: center;
}

.tooltip {
  font-size: 16.5px;
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 40%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@font-face {
    font-family: 'Italiana';
    src: url('Italiana-Regular.woff');
}

@media only screen and (min-width: 768px) {
    .d3, .d4, .d5 {
        width: 45%;
        margin: 25px auto;
        /* border: 2px solid green; */
    }
}
