body {
    color: #eff2f7;
    background: #212121;
    font-size: 20px; /*20*/
    font-family: Celine;
    font-variant-ligatures: normal;
}
#d2 {
    width: 80%;
    margin: 0 auto;
}
.d3, .d4, .d5, .d6, .d7 {
    width: 96%;
    line-height: 2.2;
    margin: 25px auto 0;
    /* border: 2px solid green; */
}
.d4, .d5, .d6, .d7 {
    display: none;
}
.d8 {
   width: 99%;
   margin: 30px auto 0;
}
.d8 label, .d8 input {
   display: flex;
   margin:0 5px;
}
.header {
    display: flex;
    margin: 18px 0 10px;
}
#inp {
    color: white;
    background: black;
    width: 150px;
    height: 40px;
    margin: 20px 50px 0;
    border-radius: 14px;
    text-align: center;
}
input:focus {
   outline: none;
   border: 2px solid teal;
}
input:invalid {
   border: 2px solid red;
}
hr {
    width: 50%;
}
input {
    margin: 20px 10px 0;
    accent-color: #F55050;
}
label {
    margin-left: 50px;
}
button {
    width: 70px;
    height: 35px;
    letter-spacing: 1px;
    border-radius: 5px;
}
p {
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}
ol {
    margin: 0;
    padding: 0 0 0 20px;
}
ul {
    margin: 0;
}
iframe {
   display: none; /*flex*/
   width: 97%;
   max-width: 1000px;
   justify-content: center;
   margin: 10px auto 0;
}
#fl {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
}
i { margin: 0 5px; }
a { color: white; }
a:hover {
    color: Tomato;
    transition: .4s;
    letter-spacing: 1px;
}
footer {
    line-height: 1.7;
    margin: 35px auto 10px;
    text-align: center;
}
.spin {
   margin-left: 5px;
   animation: spin 6s linear infinite;
}
@keyframes spin {
   to { transform: rotate(360deg); }
}

@keyframes rotate {
   0% { transform: rotate(var(--start)); }
   50% { transform: rotate(var(--end)); }
   100% { transform: rotate(var(--start)); }
}
.arrow {
   animation: rotate 4.5s infinite;
}

.tooltip {
  font-size: 16.5px;
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 40%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.line {
   display: flex;
   height: 44px;
}
.line-wobble {
  --uib-size: 120px;
  --uib-speed: 1.4s;
  --uib-color: white;
  --uib-line-weight: 5px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--uib-line-weight);
  width: var(--uib-size);
  border-radius: calc(var(--uib-line-weight) / 2);
  overflow: hidden;
  margin: auto;
  transform: translate3d(0, 0, 0);
}
.line-wobble::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--uib-color);
  opacity: 0.1;
}
.line-wobble::after {
  content: '';
  height: 100%;
  width: 100%;
  border-radius: calc(var(--uib-line-weight) / 2);
  animation: race var(--uib-speed) ease-in-out infinite;
  transform: translateX(-100%);
  background-color: var(--uib-color);
}
@keyframes race {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@font-face {
    font-family: 'Italiana';
    src: url('Fonts/Italiana-Regular.woff') format(woff);
}
@font-face {
    font-family: 'Celine';
    src: url('Fonts/CelineSans.otf') format(opentype);
}
@font-face {
    font-family: 'Barracuda';
    src: url('Fonts/Barracuda-Light.ttf') format(truetype);
}
@font-face {
    font-family: 'Disya';
    src: url('Fonts/Dear-Disya.ttf') format(truetype);
}
@font-face {
    font-family: 'Roseblue';
    src: url('Fonts/RoseBlue.ttf') format(truetype);
}
@font-face {
    font-family: 'Mages';
    src: url('Fonts/Mages.otf') format(opentype);
}
@font-face {
    font-family: 'Flora';
    src: url('Fonts/Flora\ Serif.ttf') format(truetype);
}
@font-face {
    font-family: 'Pinewood';
    src: url('Fonts/HV\ Pinewood.otf') format(opentype);
}

/* @media only screen and (min-width: 768px) {
    .d3, .d4, .d5 {
        width: 45%;
        margin: 25px auto;
        //border: 2px solid green;
    }
} */
