body {
    color: #eff2f7;
    background: #212121;
    font-size: 16px; /*20*/
    font-family: ZT Neue, Bosch;
    font-variant-ligatures: normal;
    cursor: url('https://img.icons8.com/color-glass/25/select-cursor--v1.png'),
    url('https://img.icons8.com/doodle/30/blue-pointer.png'), auto;
}
#d2 {
    width: 80%;
    margin: 0 auto;
}
.d3, .d4, .d5, .d6, .d7 {
    width: 96%;
    line-height: 2.2;
    margin: 25px auto 0;
    /* border: 2px solid green; */
}
.d3, .d5, .d6, .d7 {
    display: none;
}
.d8 {
   width: 135px;
   margin: 20px 0 0;
}
.d8 label, .d8 input {
   display: flex;
   margin:0 5px;
}
.header {
    display: flex;
    margin: 18px 0 10px;
}
#inp {
    color: white;
    background: black;
    width: 150px;
    height: 40px;
    margin: 20px 50px 0;
    border-radius: 14px;
    text-align: center;
    transition: .4s;
}
input:focus {
   outline: none;
   border: 2px solid teal;
}
input:invalid {
   border: 2px solid red;
}
hr {
    width: 50%;
}
input {
    margin: 20px 10px 0;
    accent-color: #3FB6C9;
}
label {
    margin-left: 50px;
}
button {
    width: 70px;
    height: 35px;
    letter-spacing: 1px;
    border-radius: 5px;
}
p {
    margin: 0 auto;
    text-align: center;
    text-decoration: underline;
}
ol {
    margin: 0;
    padding: 0 0 0 20px;
}
ul {
    margin: 0;
}
iframe {
   display: none; /*flex*/
   width: 97%;
   max-width: 1000px;
   justify-content: center;
   margin: 10px auto 0;
}
#fl {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    border-radius: 50%;
}
i { margin: 0 5px; }
a { color: white; }
a:hover {
    color: Tomato;
    transition: .4s;
    letter-spacing: 1px;
}
footer {
    line-height: 1.7;
    margin: 35px auto 10px;
    text-align: center;
}
.spin {
   margin-left: 5px;
   animation: spin 6s linear infinite;
}
@keyframes spin {
   to { transform: rotate(360deg); }
}

@keyframes rotate {
   0% { transform: rotate(var(--start)); }
   50% { transform: rotate(var(--end)); }
   100% { transform: rotate(var(--start)); }
}
.arrow {
   animation: rotate 4.5s infinite;
}

.tooltip {
  font-size: 16.5px;
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 190px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 80%;
  left: 40%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#msgBox {
   width: 20px;
   height: 20px;
   padding: 0;
   margin: 10px auto 20px;
   border-radius: 50%;
   border: 2.5px solid transparent;
   border-top-color: #4285F4;
   animation: spin 1.9s ease-in-out infinite;
}
@keyframes spin {
   0% {
      border-top-color: #4285F4; /* Initial color */
   }
   30% {
      border-top-color: #DB4437; /* Change color at 25% of animation */
   }
   50% {
      border-top-color: #F4B400; /* Change color at 50% of animation */
   }
   70% {
      border-top-color: #0F9D58; /* Change color at 75% of animation */
   }
   100% {
      border-top-color: #4285F4; /* Back to initial color at 100% of animation */
      transform: rotate(360deg);
   }
}

@font-face {
    font-family: 'Leiko';
    src: url('https://res.cloudinary.com/dr4tarmul/raw/upload/v1709873840/Fonts/Leiko.otf') format(opentype);
}
@font-face {
    font-family: 'ZT Neue';
    src: url('Fonts/New2/ZTNeueRalewe-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'Italiana';
    src: url('Fonts/Italiana-Regular.woff') format(woff);
}
@font-face {
    font-family: 'Celine';
    src: url('Fonts/CelineSans.otf') format(opentype);
}
@font-face {
    font-family: 'Bosch';
    src: url('Fonts/New/Bosch.otf') format(opentype);
}
@font-face {
    font-family: 'Barracuda';
    src: url('Fonts/Barracuda-Light.ttf') format(truetype);
}
@font-face {
    font-family: 'Disya';
    src: url('Fonts/Dear-Disya.ttf') format(truetype);
}
@font-face {
    font-family: 'Roseblue';
    src: url('Fonts/RoseBlue.ttf') format(truetype);
}
@font-face {
    font-family: 'Mages';
    src: url('Fonts/Mages.otf') format(opentype);
}
@font-face {
    font-family: 'Flora';
    src: url('Fonts/Flora\ Serif.ttf') format(truetype);
}
@font-face {
    font-family: 'Pinewood';
    src: url('Fonts/HV\ Pinewood.otf') format(opentype);
}

/* @media only screen and (min-width: 768px) {
    .d3, .d4, .d5 {
        width: 45%;
        margin: 25px auto;
        //border: 2px solid green;
    }
} */
